.weather-wrapper__week-view {
  @extend %overlay-block;

  .week-view__weeks {
    @extend %flex-list;
  }

  .weeks__daily-block {
    @extend %body-one;

    a {
      color: $body-copy-color;
      text-decoration: none;
    }

    img {
      vertical-align: middle;
    }

    h2 {
      @extend %title-three
    }
  }
}
