// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

//       '||'                                          .
//        ||        ....   .... ...   ...   ... ...  .||.
//        ||       '' .||   '|.  |  .|  '|.  ||  ||   ||
//        ||       .|' ||    '|.|   ||   ||  ||  ||   ||
//       .||.....| '|..'|'    '|     '|..|'  '|..'|.  '|.'
//                         .. |
//                          ''

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

%constrained-width-full-column {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $max-screen-width;
  width: 100%;
}

%flex-column-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include media($all-mobile) {
    flex-direction: column;
  }
}

%flex-column {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding: 1rem;

  @include media($all-mobile) {
    flex: 1 1 100%;
  }
}

%flex-list {
  @extend %flex-column-wrapper;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    @extend %flex-column;
    text-align: center;
  }
}

%flex-full-column {
  @extend %flex-column;
  flex: 1 1 100%;
  max-width: 100%;
}

%flex-half-column {
  @extend %flex-column;
  flex: 1 1 50%;
  max-width: 50%;
}

%flex-third-column {
  @extend %flex-column;
  flex: 1 1 33.3%;
  max-width: 33.3%;
}

%flex-two-thirds-column {
  @extend %flex-column;
  flex: 1 1 66.6%;
  max-width: 66.6%;
}

%flex-quarter-column {
  @extend %flex-column;
  flex: 1 1 25%;
  max-width: 25%;
}

%flex-three-quarter-column {
  @extend %flex-column;
  flex: 1 1 75%;
  max-width: 75%;
}

%overlay-block {
  background: linear-gradient(to bottom, rgba($white, 0) 3%, rgba($white, .18) 72%, rgba($white, .4) 100%);
  border: 1px solid rgba($white, .4);
  border-radius: 6px;
  border-top: 0;
}

%day-block {
  @extend %body-one;

  @include media($all-mobile) {
    width: 100%;
  }

  a {
    color: $body-copy-color;
    text-decoration: none;

    @include media($all-mobile) {
      align-content: space-around;
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }
  }

  .daily-block__weather {
    line-height: 2rem;
    margin-right: 1em;
    white-space: nowrap;
  }

  .weather__temperature {
    font-size: rem(24);
  }

  .owf {
    color: rgba($white, .4);
    margin-right: .25rem;
    vertical-align: bottom;
  }

  h2 {
    @extend %title-three;
    font-size: rem(15);
    font-weight: 300;
  }
}
